<% content_for :head do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&libraries=places&callback=dispatchMapsEvent",
                             async: true,
                             defer: true %>
<% end %>

<div id="map" class="map" data-controller="map" data-map-target="map"
     data-map-icons='{
       "free_spot": "<%= image_url('map-marker-purple.png') %>",
       "paid_spot": "<%= image_url('map-marker-orange.png') %>",
       "campsite": "<%= image_url('map-marker-darker-orange.png') %>",
       "mtb_spot": "<%= image_url('map-marker-darker-green.png') %>",
       "climbing_spot": "<%= image_url('map-marker-green.png') %>",
       "kayaking_spot": "<%= image_url('map-marker-darker-blue.png') %>",
       "surf_spot": "<%= image_url('map-marker-sky-blue.png') %>",
       "bad_spot": "<%= image_url('map-marker-red.png') %>",
       "user": "<%= image_url('map-marker-ink.png') %>",
       "new": "<%= image_url('map-marker-lighter-ink.png') %>"
     }'></div>
