<div class="user-profile">
  <div class="content">
    <div class="content-header">
      <h1> <%= @user.username %> </h1>
      <% if @user.id == current_user.id %>
        <%= link_to edit_user_registration_path, class: 'btn btn-sm btn-primary' do %>
          Edit Profile <i class="fas fa-user-edit"></i>
        <% end %>
      <% end %>
      <hr/>
      <h4>About <%= @user.username %></h4>
      <h3><%= @user.description %></h3>
      <h4><%= @user.username %> has added <strong><%= @spotcount %></strong> spots and
        <strong><%= @ratings.count %></strong> ratings</h4>
      <hr/>
    </div>

    <div class="ninety-container">
      <% if @spotcount == 0 %>
        <h3 class="text-center"><%= @user.username %> hasn't added any spots yet</h3>
      <% else %>
        <h3 class="text-center"><%= @user.username %>'s Spots</h3>
        <div class="card-deck spots">
          <% @spots.each do |spot| %>
            <%= render partial: 'spots/card', locals: { spot: } %>
          <% end %>
        </div>
      <% end %>
      <hr/>
      <% if @ratings.count == 0 %>
        <h3 class="text-center"><%= @user.username %> hasn't reviewed or rated any spots yet</h3>
      <% else %>
        <h3 class="text-center"><%= @user.username %>'s Reviews</h3>

        <div class="card-deck">
          <% @ratings.each do |rating| %>
            <% next unless rating.spot.present? %>
            <%= render partial: 'ratings/card', locals: { rating: } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
